.nav{
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
.nav img{
    height: 30px;
    padding: 16px;
}
.nav_links li{
    list-style: none;
    display: inline;
    margin: 0 24px 0 24px;
}
.nav_links p{
    display: inline;
}

    