.container{
    margin-top: 280px;
    margin-bottom: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text_container{
    display: flex;
    justify-content: space-between;
}
.card_container{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.card{
    min-width: 340px;
    max-width: 340px;
    margin: 0 12px 0 12px;
    padding: 36px 36px 18px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.my_36{
    margin-left: -36px;
    margin-right: -36px;
}