.container{
    margin-top: 260px;
    margin-bottom: 260px;
    display: flex;
    justify-content: space-between;
}
.text_container{
    margin-top: 64px;
}
.img_container{
    display: flex;
    align-items: center;
}
.imgs_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.to_img1{
    width: 510px;
    height: 420px;
    margin-right: 64px;
}
.to_img2{
    width: 330px;
    height: 540px;
}
.to_img3{
    border-radius: 15px;
    width: 415px;
    height: 800px;
}