.container{
    margin-top: 280px;
    margin-bottom: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text_container{
    display: flex;
    justify-content: center;
}
.img_container{
    margin-top: 32px;
}
.to_img{
    width: 100%;
}